*, *:before, *:after {
  box-sizing: border-box;
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

html, body, .page {
  width: 100%;
  height: 100%;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
  color: #fff;
  overflow: hidden; 
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 0px;
}

.form {
  background: #413a4b;
  max-width: 400px;
  border-radius: 4px;
  display: block;
}

.form_join {
  background: #413a4b;
  max-width: 400px;
  height: 320px;
  border-radius: 4px;
  display: block;
}

.tab-group, .room-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.room-group {
  list-style: none;
  padding: 0;
  margin: auto;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a, .room-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.tab-group li a {
  color: #1f1b24;
  width: 50%;
}

.room-group li a {
  color: #fff;
  width: 50%;
  border-radius: 2px;
}

.tab-group li a:hover, .room-group li a:hover {
  background: #cacaca;
  color: #1f1b24;
}

.tab-group .active a, .room-group .active a {
  background: #fff;
  color: #1f1b24;
}

.tab-content > div:last-child, 
.room-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  font-weight: 300;
  margin: 0 0 40px;
}

label.sl {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 50px;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 16px;
}

label.jc {
  margin: 2px;
  position: absolute;
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
  left: 48px;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 16px;
}

label.jc.active {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
  top: 28px;
  left: 43px;
  font-size: 12px;
}

label.sl .req {
  margin: 2px;
  color: #121212;
}

label.sl.active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  top: 34px;
  left: 46px;
  font-size: 12px;
}

label.sl.active .req, label.jc.active .req {
  opacity: 0;
}

label.sl.highlight, label.jc.highlight {
  color: rgba(255, 255, 255, 0.7);
}

input.jc {
  font-size: 18px;
  display: block;
  width: 80%;
  padding: 4px;
  background: none;
  border: solid 1.6px #1f1b24;
  color: #ffffff;
  border-radius: 2px;
  transition: border-color .25s ease, box-shadow .25s ease;
  float: left;
  margin: 40px 40px 25px 40px;
}

input.sl {
  font-size: 18px;
  display: inline-block;
  width: 80%;
  height: 100%;
  padding: 4px;
  background: none;
  border: solid 1.6px #1f1b24;
  color: #ffffff;
  border-radius: 2px;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input.sl:focus, input.jc:focus {
  outline: 0;
  border-color: #121212;
}

.field-wrap2 {
  position: relative;
  margin: auto;
  margin-top: 108px;
  margin-bottom: 22px;
  font-size: 13px;
  line-height: 1.3;
  width: 60%;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.button {
  border: 0;
  outline: none;
  border-radius: 2px;
  padding: 15px 0;
  font-size: 1.6rem;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: .1em;
  background-color: #1f1b24;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}

.join_button {
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
  background-color: #1f1b24;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  width: 80%;
  cursor: pointer;
  float: left;
  margin: 5px 40px 25px 40px;
}

.button:hover, .button:focus, 
.join_button:hover, .join_button:focus {
  background: #121212;
}

.button-block {
  display: inline-block;
  width: 80%;
}

/* dealing with different pages */

.page {
  position: absolute;
  padding-bottom: 130px;
}

#p1 {
  left: 0;
}

#p2, #p3, #p4 {
  left: 200%;
}

#p1 { background: #121212; }
#p2 { background: #121212; }
#p3 { background: #121212; }
#p4 { background: #121212; }

/* bringing in subpages */
#t2:target #p2,
#t3:target #p3,
#t4:target #p4 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
} 

#t2:target #p1,
#t3:target #p1, 
#t4:target #p1 {
  background: #1f1b24;
}

/* blurring #p1 when entering other subpages */
#t2:target #p1 .fas,
#t3:target #p1 .fas,
#t4:target #p1 .fas,
#t2:target footer,
#t3:target footer,
#t4:target footer {
  -webkit-filter: blur(3px);
}

.fas {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .fas:hover {
  opacity: 0.5;
}

.page .fas .title {
  line-height: 2;
}

/* nav bar icon transitions */
#t2:target ul .fas,
#t3:target ul .fas,
#t4:target ul .fas {
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#t2:target #info,
#t3:target #game,
#t4:target #user {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

#menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 420px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

#menu .fas {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

.menu_button {
  text-decoration: none;
}

.title, .hint {
  display: block;
}

.title {
  font-size: 38px;
}

.hint, footer {
  font-size: 13px;
}

.hint.p3 {
  width: 60%;
  margin: auto;
  height: 80px;
  text-align: center;
}

.hint.p22 {
  text-align: center;
  margin: auto;
  width: 60%;
  font-size: 13px;
  display: block;
}

footer {
  bottom: 50px;
  right: 5%;
  left: 0;
  position: absolute;
  line-height: 2;
  text-align: center;
  margin: auto;
  height: 50px;
  width: 270px;
  padding-bottom: 80px;
}

.page .fas.fa-info-circle.fa-3x,
.page .fas.fa-home.fa-3x,
.page .fas.fa-user-secret.fa-3x {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;

  /* transition */
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page .fas.fa-home.fa-3x {
  width: 270px;
  height: 170px;
}

.page .fas.fa-info-circle.fa-3x {
  width: 400px;
  height: 580px;
}

.page .fas.fa-user-secret.fa-3x {
  width: 400px;
  height: 650px;
}

.page .form, .page .form_join {
  position: absolute;
  margin: auto;
  top: 180px;
  bottom: 0;
  left: 0;
  right: 10%;
  width: 400px;
  text-align: center;
}

  /* transition */
.page .form {
  top: 0;
  height: 410px;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.15, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.15, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.15, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.15, 1, .5, 1.25);
}

.page#p1 .fas.fa-home {
  height: 240px;
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .fas,
#t3:target .page#p3 .fas,
#t4:target .page#p4 .fas,
#t4:target .page#p4 .form {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

