/* styles for alert boxes */

.swal-login {
    width: 350px;
    background-color: #1f1b24;
}

.swal-overlay, .swal-alert {
    background-color: rgba(12, 11, 14, 0.85);
}

.swal-text {
    color: #fff;
}

.swal-title {
    font-size: 18px;
    color: #fff;
}

/* button for password mismatch alert */
.swal-button {
    /* display: flex;
    -webkit-justify-content: center;
            justify-content: center; */
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #413a4b;
    font-size: 12px;
    border: 0;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:hover {
    background-color: #cacaca !important;
    color: #1f1b24;
}

.swal-footer {
    text-align: center;
}