<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/stylesheets/login.css" type="text/css">

</head>
<body>
  <div id= "header">
        <div class="navbar">
          <ul>
            <li><a href="/"><h3>Home</h3></a></li>
            <li><a href="#"><h3>Play</h3></a></li>
            <li><a href="#"><h3>Profile</h3></a></li>
            <li><a href="#"><h3>About</h3></a></li>
            <li><a href="login"><h3>Sign up</h3></a></li>
          </ul>
        </div>
        <h2>Who is the spy?</h2>
  </div>

</body>
</html>
